{% extends 'header.html' %}
{% block body %}

    <div class="content-wrapper">
      <div class="container">  
        <section class="content">
          <div class="box box-info">
            <div class="box-header with-border">
            	<center>
            		<h3 class="box-title">Add Student Details</h3>
            	</center>
            </div>

            <form class="form-horizontal" method="POST" action="/addrec">
              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Name</label>

                  <div class="col-sm-10">
                    <input name="name" type="text" class="form-control" placeholder="Name" autocomplete="off" required>
                  </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">E-mail</label>
  
                    <div class="col-sm-10">
                      <input name="email" type="email" class="form-control" placeholder="E-Mail" autocomplete="off" required>
                    </div>
                </div>
                
                <div class="form-group">
                  <label class="col-sm-2 control-label">Phone Number</label>

                  <div class="col-sm-10">
                    <input name="phone" type="text" class="form-control" placeholder="Phone Number" autocomplete="off" required>
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="col-sm-2 control-label">Semester</label>

                  <div class="col-sm-10">
                    <input name="semester" type="text" class="form-control" placeholder="Semester" autocomplete="off" required>
                  </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Faculty</label>
  
                    <div class="col-sm-10">
                      <input name="faculty" type="text" class="form-control" placeholder="Faculty" autocomplete="off" required>
                    </div>
                </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label">Address</label>

                <div class="col-sm-10">
                  <input name="address" type="text" class="form-control" placeholder="Address" autocomplete="off" required>
                </div>
              </div>
            


              <div class="box-footer">
                <a href="/"><button type="button" class="btn btn-default">Cancel</button></a>
                <input name="save" type="submit" class="btn btn-info pull-right" value="Save">
              </div>

            </form>
          </div>
        </section>
      </div>
    </div>



<footer class="main-footer">
  <div class="container">
    <div class="pull-right hidden-xs">
      <b>Assignment By</b> Pawan Niroula
    </div>
  </div>
</footer>
</div>


<script src="{{ url_for('static', filename='js/jquery-2.2.3.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/app.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js')}}"></script>

<script>
$(function () {
  $("#datarec").DataTable();
  
});
</script>

</body>
</html>

{% endblock %}